# Habilitar el motor de reescritura
RewriteEngine On
RewriteBase /
# Redirigir la raíz a index.php

RewriteRule ^$ index.php [L,QSA]

RewriteRule ^iniciar/sesion$ index.php [L,QSA]

RewriteRule ^s$ index.php [L,QSA]
RewriteRule ^dashboard$ index.php [L,QSA]
RewriteRule ^inicio$ index.php [L,QSA]
RewriteRule ^contenido$ index.php [L,QSA]
